<aside class="sidebar fixed">
  <div class="brand-logo">
    <div id="logo">
     <img class="img-responsive" src="images/small_logo.png" alt="ihtsdo-logo">
    </div>
    UX Patterns Library
  </div>

  <ul ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-web">Dashboard</a>
    <li menu-toggle path="/ui-elements" name="UI elements" icon="md md-computer">
      <a menu-link href="#/ui-elements/colors">Colors</a>
      <a menu-link href="#/ui-elements/grid">Grid</a>
      <a menu-link href="#/ui-elements/icons">Icons design</a>
      <a menu-link href="#/ui-elements/lists">Lists</a>
      <a menu-link href="#/ui-elements/typography">Typography</a>
      <a menu-link href="#/ui-elements/messages">Messages &amp; Notifications</a>
      <a menu-link href="#/ui-elements/buttons">Buttons</a>
    </li>
    <li menu-toggle path="/forms" name="Forms" icon="md md-input">
      <a menu-link href="#/forms/basic">Basic forms</a>
      <a menu-link href="#/forms/advanced">Other Elements</a>
      <a menu-link href="#/forms/validation">Validation</a>
    </li>
    <li menu-toggle path="/tables" name="Tables" icon="md md-list">
      <a menu-link href="#/tables/basic">Basic tables</a>
      <a menu-link href="#/tables/data">Data tables</a>
    </li>
    <a menu-link href="#/charts" icon="md md-insert-chart">Charts</a>
  
 
  </ul>
</aside>
