.navbar-default {
    font-family: "museo300", sans-serif;
    border-color: transparent;
    background-color: #fff;
    border-color: transparent;
    .navbar-brand {
        color: #666;
    }
}
.text-info {
    color: #00a4e4;
}
a.text-info:hover {
    color: #007fb1;
}
.page-header {
    margin: 46px 0 0px;
    font-family: "museo300", sans-serif;
}
.btn-info {
    background-color: #00a4e4;
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #00a4e4;
}
.theme-template-dark {
    .navbar-default {
        background: #474747;
        color: #FFF;
    }
}
.brand-logo {
    text-transform: none;
	font-family: "museo300", sans-serif;
}
#logo{
  height: 25px;
  width: 40px;

}
.text-success {
  color: #66BB6A;
}
.alert-success{background-color: #66BB6A;}
.sidebar{font-family: "museo300", sans-serif;}
.identity-services {
    color:#9a9a9a!important;
    li {
        a {
            padding:10px 20.5px;
            line-height:18px;
            color:#9a9a9a!important;
        }
    }
}

.btn-success {
    background-color: #66BB6A;
}
